<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>1090604332522-9cm3r4l5oi8j404si9hpbhlt9v52la4s.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1090604332522-9cm3r4l5oi8j404si9hpbhlt9v52la4s</string>
	<key>API_KEY</key>
	<string>AIzaSyAvGblG7L8PJgasjl1Ed0atO-AU5wwxMpk</string>
	<key>GCM_SENDER_ID</key>
	<string>1090604332522</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.titut.GithubTrend</string>
	<key>PROJECT_ID</key>
	<string>githubtrending-fe677</string>
	<key>STORAGE_BUCKET</key>
	<string>githubtrending-fe677.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:1090604332522:ios:716d5bbe47b4dc89</string>
	<key>DATABASE_URL</key>
	<string>https://githubtrending-fe677.firebaseio.com</string>
</dict>
</plist>